page-about {

    .DateSelect {

        align-content: center;

        .RowItems {
            display: block;
            position: fixed;
        }

        .Text{
            padding-top: 5pt;
            padding-left: 5pt;
            padding-right: 5pt;
            font-weight: bold;
            text-align: center;
        }
    }

    .ProductivityItem {
        
    }

}
